#!/bin/sh -e
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

# Print the IP address
_IP=$(hostname -I) || true
if [ "$_IP" ]; then
  printf "My IP address is %s
" "$_IP"
fi

echo 1 > /proc/sys/net/ipv4/ip_forward

iptables -t nat -A POSTROUTING -o {{ hotspot_external_network_interface }} -j MASQUERADE
iptables -A FORWARD -i {{ hotspot_external_network_interface }} -o {{ hotspot_network_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -A FORWARD -i {{ hotspot_network_interface }} -o {{ hotspot_external_network_interface }} -j ACCEPT

ip route del default via {{ hotspot_ip }}

exit 0


