[Interface]
Address = {{ wg_server_server_wireguard_ip }}/{{ wg_server_wireguard_subnet }}
PrivateKey = {{ wg_server_privatekey['content'] | b64decode | replace('
', '')}}
ListenPort = {{ wg_server_wireguard_network_port }}
PostUp = iptables -A FORWARD -i {{ wg_server_wireguard_network_interface }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wg_server_external_network_interface }} -j MASQUERADE; ping {{ wg_server_server_wireguard_ip }} &
PostDown = iptables -D FORWARD -i {{ wg_server_wireguard_network_interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wg_server_external_network_interface }} -j MASQUERADE; pkill ping
